<div class="successfull-checkout-content">

    <div class="successfull-checkout-header">
        <h1>Success</h1>
    </div>

    <div>
        <p>Thank You, <b>{{_userName}}</b>! </p>
    </div>

    <div>
        Your <b>{{_totalPrice |currency}}</b> Order Is Confirmed!
    </div>

    <div>
        Please allow 1~3 business day(s) for Shipping
    </div>

    <div>
        
        <a routerLink="../" mat-raised-button color="primary">
            <mat-icon>keyboard_backspace</mat-icon>
            Back To Product List
        </a>

    </div>
</div>